.body{
  overflow-x: hidden;
  width: fit-content;
}

.main {
  background-color: #272727;
  position: absolute;
 
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-right:1%;
  margin-right: 0;
}

* {
  margin: 0;
  padding: 0;
}

.box {
  overflow: hidden;
  position: relative;
  /* border: 2px solid red; */
  /* margin: 5px; */
}

.box img {
  width: 200px;
  border-radius: 4px;
}

.box:hover .overlay {
  height: 100px;
  z-index: 999;
  top: 0;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
}

.overlay {
  position: absolute;
  top: -120px;
  background-color: #ffffff46;
  width: 190px;
  height: 100px;
  overflow: hidden;
  padding: 5px;
  backdrop-filter: blur(13px);
  border-radius: 3px;
  
}

#moviebox {
  position: relative;
  height: fit-content;
  width:fit-content;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid white; */
  overflow: hidden;
  flex-wrap: wrap;
  row-gap: 5px;
  /* padding: 5px; */
}

#search {
  border: none;
  margin: 5vh 0vw 5vh 4vw;
  height: 5vh;
  width: 20vw;
  border-radius: 3px;
  padding-left: 2%;
  background-color: #949292;
  color: white;
  outline: none;
  font-size: 23px;
}

.rating {
  font-weight: bold;
  color: yellow;
}

/* @media only screen and (max-width: 600px) {
  .box{
    width: 100px;
    height: 150px;
  }
} */